@tailwind base;
  @tailwind components;
  @tailwind utilities;


  .progressBG{
    background-color: linear-gradient(90.64deg, #6938EF 52.02%, #DE80FF 125.33%);;
  }

  html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  Select::placeholder{
    color: #B7B7BD;
  }

  .validateText{
    background: linear-gradient(90.64deg, #6938EF 52.02%, #DE80FF 125.33%);
    
    -webkit-background-clip: text;
  /* Make the text fill color transparent so the gradient shows through */
    -webkit-text-fill-color: transparent;

    cursor: pointer;
  }

  .inputDivFocus:focus-within{
    background-image: linear-gradient(130.18deg, #6938EF 1.57%, #DE80FF 54.28%, #80CAFF 97.33%);
  }
  .inputDivSelected{
    background-image: linear-gradient(130.18deg, #6938EF 1.57%, #DE80FF 54.28%, #80CAFF 97.33%);
  }
  @layer components {
    /* SHADCN COMPONENTS */
    /* Form */
    .shad-form_label {
      @apply text-black !important; /* Adjusted for light mode */
    }
  
    .shad-form_message {
      @apply text-red !important;
    }
  
    .shad-input {
      @apply bg-[#F7F7F7] placeholder:text-[#B7B7BD] focus:bg-white h-[62px] w-[358px] focus:ring-0 focus:ring-offset-0 rounded-[12px] text-[16px] !important;
    }
    
    .shad-input-custom {
      @apply bg-white placeholder:text-[#B7B7BD] focus:bg-white w-[660px] h-[53px] focus:ring-0 focus:ring-opacity-0 focus:ring-offset-0 ring-0 ring-offset-0 border-0 focus:border-0 focus:border-transparent text-[16px] !important;
    }

    .shad-select {
      @apply bg-[#F7F7F7] placeholder:text-[#B7B7BD] focus:bg-white h-[62px] w-[356px] focus:ring-0 focus:ring-offset-0 rounded-[12px] text-[16px] !important;
    }
  
  
    .shad-textarea {
      @apply h-36 bg-gray-100 rounded-xl border border-gray-300 focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-gray-300 !important;
    }
  
    /* Button */
    .shad-button_primary {
      @apply bg-blue-500 hover:bg-blue-600 text-white flex gap-2 !important; /* Adjusted for light mode */
    }
  
    .shad-button_dark_4 {
      @apply h-12 bg-gray-400 px-5 text-white flex gap-2 !important; /* Adjusted for light mode */
    }
  
    .shad-button_ghost {
      @apply flex gap-4 items-center justify-start hover:bg-transparent hover:text-black !important; /* Adjusted for light mode */
    }
  
  }
  
  